.App {
  font-family: sans-serif;
  text-align: center;
}

.question {
  margin: 20px auto;
  width: 60%;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}
.question h2 {
  margin-bottom: 10px;
}
.options {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.options > li > button {
  margin-bottom: 10px;
  width: 100px;
}
.restQuize {
  color: red;
  cursor: pointer;
}
